body {
    background: black;
    color: white;
    font-family: "Delius", cursive;


}

header {
    background: blue;
    border-bottom: solid 5px white;
    font-size: 30px;
}

iframe {
    background: orangered;
    padding: 20px;
}

.logo {
    width: 10%;
}

section {
    display: flex;
    justify-content: center;
}

h1 {
    display: block;
    text-align: center;
}