body{
    background: black;
    color: white;
}
header{
    background: blue;
    border-bottom: solid 5px white;
    font-size: 30px;
}
iframe{
    background: orangered;
    padding: 20px;
}

.logo{
    width: 10%;
}

section{
display:flex;
justify-content: center;
}